__pycache__/
*.py[cod]
*.log

.vscode/
.DS_Store

ids_data.db
uvicorn_out.txt
uvicorn_err.txt

backend/__pycache__/
backend/build/
backend/dist/

frontend/node_modules/
frontend/dist/
frontend/release/
frontend/error.log
